[phases.setup]
nixPkgs = ["php83", "php83Packages.composer", "nodejs"]
[phases.build]
cmds = [ "composer install --no-dev --optimize-autoloader", "npm install && npm run build" ]
[start]
cmd = "mkdir -p storage/framework/views storage/framework/cache/data storage/framework/sessions && chmod -R 775 storage bootstrap/cache && php artisan optimize:clear && php artisan serve --host=0.0.0.0 --port=8000"