[phases.setup]
nixPkgs = ["php83", "php83Packages.composer", "nginx", "nodejs"]

[phases.build]
cmds = [
    "composer install --no-dev --optimize-autoloader",
    "npm install && npm run build",
    "mkdir -p storage/framework/views storage/framework/cache storage/framework/sessions"
]

[start]
cmd = "php artisan optimize:clear && php artisan config:cache && php artisan route:cache && php artisan view:cache && php artisan filament:optimize && php artisan serve --host=0.0.0.0 --port=8000"
